
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .converter {
    background-color:antiquewhite;
    border-image-width: auto;
    
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    text-shadow: 1px 1px #290202;
    color: rgb(11, 1, 24);
  }
  
  label {
    display: block;
    color:  rgb(11, 1, 28);
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #290202;
    border-radius: 5px;
  }

  

  button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color:#0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #010509;
  }

  
  
  #results {
    margin-top: 20px;
  }
  